<nav class="navbar navbar-expand-md navbar-light bg-primary shadow-sm rounded-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <div class="d-flex justify-content-center align-items-center text-light">
        <i class="fab fa-2x fa-buffer fa-rotate-270 me-2"></i>
        <span class="h2">Blogu</span>
      </div>
    </a>
    <button class="navbar-toggler bg-light" data-bs-target="#nav" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="nav">
      <ul *ngIf="!!username" class="navbar-nav ml-auto text-capitalize">
        <li class="nav-item dropdown">
          <a aria-expanded="false" class="nav-link dropdown-toggle text-white fw-bold" data-bs-toggle="dropdown"
             href="#"
             id="navbarDarkDropdownMenuLink" role="button">
            {{username}}
          </a>
          <ul aria-labelledby="navbarDarkDropdownMenuLink" class="dropdown-menu">
            <li>
              <a class="dropdown-item" [routerLink]="['/profile', username]"><i class="fa fa-user-circle me-2"></i>My Profile</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/upload"><i class="fa fa-image me-2"></i>Create post</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/my-moderations"><i class="fa fa-balance-scale me-2"></i>My moderated posts</a>
            </li>
            <li><a (click)="logoff()" class="dropdown-item" href="javascript:void(0)"><i
              class="fa fa-door-open me-2"></i>Disconnect</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light font-weight-bold" routerLink="/explore"><i class="fa fa-binoculars"></i></a>
        </li>
      </ul>
      <form (ngSubmit)="search()" [formGroup]="this.searchForm" class="container-fluid">
        <div class="input-group">
          <input aria-label="Search" class="form-control rounded-pill me-2 shadow-sm border-0 px-4 py-2 fw-bolder"
                 formControlName="search" placeholder="Search for content..." type="search">
          <button class="btn btn-success rounded-pill border-0 fw-bold shadow-sm" type="submit"><i
            class="fa fa-search"></i></button>
        </div>
      </form>
    </div>
  </div>
</nav>
