<div *ngFor="let post of posts" class="card d-inline-flex m-2 shadow-sm">
  <div class="card" style="width: 18rem;">
    <img [src]="toSrc(post.thumbnail, post.mimeType)" alt="thumbnail" class="card-img-top rounded-start img-fluid">
    <div class="card-body">
      <a [routerLink]="['/posts', post.id]" class="h5 card-title card-link">{{post.title}}</a>
    </div>
    <ul class="list-group list-group-flush">
      <li *ngIf="!hideUsername" class="list-group-item">
        <a  [routerLink]="['/profile', post.createdBy]"
           class="pb-1 mt-2 text-black text-decoration-none fw-bold w-100 d-block h-100"><i class="fa fa-user"></i> {{post.createdBy}}</a>
      </li>
      <li class="list-group-item"><h6 class="card-text text-black"><i class="fa fa-calendar"></i> {{post.createdAt | date : 'mediumDate'}}</h6></li>
      <li class="list-group-item"><h5 class="card-text text-black"><i class="fa fa-eye"></i> {{post.views}} <small>views</small></h5></li>
      <li class="list-group-item"><small *ngIf="role == 'ROLE_MODERATOR'" class="card-text text-black fw-bold"><i
        class="fa fa-balance-scale"></i> {{post.moderationReason}}</small></li>
    </ul>
  </div>


</div>
