<div class="container-fluid">
  <div *ngIf="posts.length > 0; else noPosts">
    <h4 class="ms-2">{{posts.length}} result{{posts.length > 1 ? 's' : ''}}</h4>
    <app-post-preview [hideUsername]="false" [posts]="posts"></app-post-preview>
  </div>
  <ng-template #noPosts>
    <div class="row">
      <div class="col">
        <div class="alert alert-dark" role="alert">
          <strong><i class="fa fa-exclamation-circle me-2"></i>No results found</strong>
        </div>
      </div>
    </div>
  </ng-template>
</div>
